html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  text-decoration: none;
  @apply text-red-500 hover:text-red-600;
}

.btn-solid {
  line-height: 1;
  @apply bg-red-500 hover:bg-red-600 text-white font-bold py-3 px-6 rounded-lg transition-all;
}

* {
  box-sizing: border-box;
}
